#resume {
  width: fit-content;
  margin: auto;
  margin-bottom: 5dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fffff7cf;
  border-radius: 10px;
  padding: 10px;
}

#resume .btn {
  padding: 5px 10px;
  margin: 10px;
}
.resumeDiv {
  overflow-y: auto;
  width: 803px;
  height: 400px;
  margin: 20px auto;
}

@media screen and (max-width: 900px) {
  .resumeDiv {
    margin-top: 10% !important;
  }
}
