body {
  margin: 0;
  padding: 0;
  background-color: #dcf0ff;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Button */

.btn {
  width: fit-content;
  text-decoration: none;
  border: 2px solid #5e5656;
  border-radius: 5px;
  font-size: medium;
  background: transparent;
  color: #5e5656;
  cursor: pointer;
  font-variant-caps: small-caps;
  font-family: "Lilita One", sans-serif;
  letter-spacing: 0.5px;
}
.btn:hover {
  background: #5e5656;
  color: white;
}

.clearBtn {
  color: #bf3131 !important;
  border-color: #bf3131 !important;
}

.clearBtn:hover {
  background-color: #d04848 !important;
  border-color: #d04848 !important;
  color: white !important;
}

/* Page Heading */

h1.currentPage {
  font-family: math;
  letter-spacing: -2px;
  margin-bottom: -10px;
  margin-left: 12px;
  font-variant-caps: small-caps;
}

/* Form Div */
.formDiv {
  margin: auto;
  background: #fffff7cf;
  border-radius: 10px;
  padding: 10px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

input {
  margin-top: 0;
  width: 85%;
  background-color: transparent;
  padding: 8px;
  color: #2d2d2d;
  font-weight: bolder;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 20px 2px #757575;
  border: none;
}

form div {
  padding: 5%;
  display: grid;
  grid-template-columns: 12% 85%;
}
form label {
  font-size: x-large;
}
form .btn {
  width: fit-content;
  padding: 5px 15px;
  border-color: #9ad4ff;
  color: black !important;
  background: #9ad4ff !important;
}

form .btnBack {
  grid-column: 1;
  justify-self: end;
  margin-right: 10px;
}
form .btnNext {
  grid-column: 2;
}

form .btn:hover {
  color: #005ea5 !important;
  background-color: transparent !important;
  border-color: #005ea5 !important;
}

.formDiv .clearBtn {
  position: relative !important;
}

@media screen and (max-width: 900px) {
  #root {
    min-height: 89vh;
  }
  #homePage {
    width: 80%;
  }

  form {
    display: block;
    text-align: center;
  }
  form div {
    padding: 0 5%;
  }
  .formNavbar {
    display: none !important;
  }
}
