#homePage {
  text-align: center;
  width: 50%;
  margin: auto;
  background: #fffff7e7;
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
}
#homePage h1 {
  color: #453838;
  text-align: left;
  font-family: "Rowdies", sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
}
#homePage .createResume {
  display: inherit;
  margin: auto;
  padding: 10px 20px;
}

.homeImage {
  position: absolute;
  height: 80vh;
  width: 80vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
}
