body {
  margin: 0;
  padding: 0;
  background-color: #dcf0ff;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Back Home Button */

.backHome {
  position: absolute;
  left: 1dvw;
  top: 1dvh;
  padding: 2dvh 2dvw;
  font-size: medium;
}
/* Button */

.btn {
  width: fit-content;
  text-decoration: none;
  border: 2px solid #5e5656;
  border-radius: 5px;
  font-size: medium;
  background: transparent;
  color: #5e5656;
  cursor: pointer;
  font-variant-caps: small-caps;
  font-family: "Lilita One", sans-serif;
  letter-spacing: 0.5px;
}
.btn:hover {
  background: #5e5656;
  color: white;
}

.clearBtn {
  color: #bf3131 !important;
  border-color: #bf3131 !important;
}

.clearBtn:hover {
  background-color: #d04848 !important;
  border-color: #d04848 !important;
  color: white !important;
}

/* Form Heading */
.aboveForm {
  display: flex;
  margin-bottom: -10px;
  position: relative;
  padding-top: 40px;
}

h1.currentPage {
  font-family: math;
  letter-spacing: -2px;
  margin: 0 auto 0 12px;
  font-variant-caps: small-caps;
}
.imageFirst {
  max-height: 130px;
  position: absolute;
  right: 0;
  bottom: -15px;
}

.belowForm {
  justify-content: space-between;
  display: flex;
}
.imageSecond {
  max-height: 90px;
  position: relative !important;
}

/* Form Div */
.formDiv {
  margin: auto;
  background: #fffff7cf;
  border-radius: 10px;
  padding: 10px;
}

.formDiv form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.formDiv input {
  margin-top: 0;
  width: 85%;
  background-color: transparent;
  padding: 8px;
  color: #2d2d2d;
  font-weight: bolder;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formDiv input:focus {
  outline: none;
  box-shadow: 0px 0px 20px 2px #757575;
  border: none;
}

.formDiv form div {
  padding: 5%;
  display: grid;
  grid-template-columns: 12% 85%;
}
.formDiv form label {
  font-size: x-large;
}
.formDiv form .btn {
  width: fit-content;
  padding: 5px 15px;
  border-color: #9ad4ff;
  color: black !important;
  background: #9ad4ff !important;
}

.formDiv form .btnBack {
  grid-column: 1;
  justify-self: end;
  margin-right: 10px;
}
.formDiv form .btnNext {
  grid-column: 2;
}

.formDiv form .btn:hover {
  color: #005ea5 !important;
  background-color: transparent !important;
  border-color: #005ea5 !important;
}

.formDiv .clearBtn {
  position: relative !important;
  margin-left: 10px;
  height: fit-content;
  margin-top: auto;
}

.formDiv .btn.addForm {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

/* Max Width: 900px */

@media screen and (max-width: 900px) {
  #root {
    min-height: 89vh;
  }
  #homePage {
    width: 80%;
  }

  .formDiv form {
    display: block;
    text-align: center;
  }
  .formDiv form div {
    padding: 2% 0 0;
    border-bottom: 2px solid #ccc;
  }
  .formNavbar {
    display: none !important;
  }
  .imageFirst {
    display: none !important;
  }
  .formDiv form div:last-of-type {
    width: fit-content !important;
    display: block !important;
    margin: 10px auto !important;
    border: none;
  }
}

@media screen and (min-width: 900px) {
  .imageSecond {
    display: none !important;
  }
}
